.active-tab {
  background-color: #ccc;
  color: #fff;
  border-bottom: solid 5px #26ade3 !important;
}
.entity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 80%;
  margin: auto;
}
.each-entity {
  /* background-color: #ccc; */
  padding: 10px;
  height: 200px;
  width: 85%;
  border: solid 1px #2345;
  justify-content: space-around;
  box-shadow: 5px 10px 18px 10px #2345;
  border-radius: 19px;
  margin-bottom: 70px;
  padding: 1%;
}

.tab-button {
  display: flex;
  flex: 1;
  align-items: center;
  height: 51px;
  justify-content: center;
  background-color: #a8def3;
  border: none;
  border-right: solid 4px white;
}
.tab-button-container {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.each-entity-container {
  cursor: pointer;
}
.drop-down-tab3 {
  display: flex;
}
.tab3-filter-container {
  display: flex;
  margin-left: 7%;
}
.date-range-filter-container {
  display: flex;
}
.tab3-first-row {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 50px;
}
.tab3-sec-row {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 70px;
}
.top-padding {
  padding: 3%;
}
.seperate-entity-box {
  padding-top: 8%;
  padding-left: 3%;
}
.flex-box-chart1 {
  display: flex;
  flex: 1;
  margin-left: 8%;
}
.flex-box-chart2 {
  display: flex;
  flex: 1;
}
.summary-table {
  margin-bottom: 50px;
}
.summary-text {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2%;
  text-decoration: underline;
}
