@font-face {
  font-family: "Bukra";
  src: url("./assets/fonts/29LTBukra-Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Bukra";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Bukra";
}
.tab {
  font-family: "Bukra";
  font-weight: 800;
  font-size: 16px;
}
.dropdown {
  font-family: "Bukra";
}
div {
  font-family: "Bukra";
}
